*{
  background: #495867;
  font-family:Courier New;
}

body {
	
}

#logo{
  display: flex-inline;
  max-height: 400px; 
}

/*Make content area fill the entire browser window */
html, .fullscreen {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Center the content in the browser window */
.container {
	margin: auto;
	text-align: center;
}



#name, #date{
  border: 2px solid #C18C5D;
  border-radius: 4px;
  font-size: 30pt;
  padding: 10px 10px;
  margin: 8px 5;
  color: white;
  height: 50px;
  width: 400px;
}

.workoutContainer{
  display: absolute;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px;
}

.workoutContainer input {
  display: flex;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 10;
  left: 0;
  right: 10;
  height: 50px;
  width: 50px;
  background-color: #eee;
}

.workoutContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.workoutContainer input:checked ~ .checkmark {
  background-color: #C18C5D;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.workoutContainer input:checked ~ .checkmark:after {
  display: block;
}

.workoutContainer .checkmark:after {
  left: 17px;
  top: 15px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#z1, #z2, #z3, #other, #workoutP, #OverallWP, #OverallMP, #checkP, #soreness, #fatigue, #stressed, #injury, #otherP, #dehydration, #tightness, #tired{
  color: white;
  font-size:30pt;
  margin:25px;
}
#soreness, #fatigue, #stressed, #injury, #otherP, #dehydration, #tightness, #tired{
  font-size: 15pt !important;
}

#z1num, #z2num, #z3num, #otherTextbox{
    border: 2px solid #C18C5D;
    border-radius: 4px;
    font-size: 12pt;
    padding: 10px 10px;
    margin-bottom: 50px;
    margin: 10px 10px;
    color: white;
    width: 100px;
    height: 45px;
}

#otherTextbox{
  width: 300px;
}

/* slider bar */
.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 30px;
  border-radius: 20px;   
  background: #ECCBAF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 30px;
}

/* slider knob */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background: #E7AD99;
  cursor: pointer;
}

/* knob range */
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #E7AD99;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover{
  background-color:#C18C5D;
}

#workoutTextbox, #mentalTextbox{
  border: 2px solid #C18C5D;
  border-radius: 4px;
  font-size: 12pt;
  padding: 10px 10px;
  margin: 8px 5;
  color: white;
  width: 800px;
  height: 200px;
}

#submit, #email{
  background-color:#CE796B;
  border-radius:42px;
  border:2px solid #E6AD99;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Courier New;
  font-size:50px;
  font-weight:bold;
  padding:12px 25px;
  text-decoration:none;
  text-shadow:0px 0px 0px #ce786b;
  margin-top: 50px;
  margin-bottom: 50px;
}

#submit:hover, #email:hover {
  background-color:#C18C5D;
}

#submit:active, #email:hover{
  position:relative;
  top:1px;
}

#outputDiv{
  background: white;
  border: 2px solid #C18C5D;
  border-radius: 4px;
  font-size: 20pt;
  padding: 10px 10px;
  color: black;
  width: 800px;
  text-align:center;
  margin:auto;
}




